.avatar
{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.matchup-wrapper{
    position: relative;
    float: left;
    left: 685px;
    width: 550px;
    margin-bottom: 10px;

}
.matchup-team{
    position: relative;
    float: left;
    left: 5px;
    width: 265px;
    height: 100px;

}
img.avatar-img
{
    max-width: 100%;
    border-radius: 50%;
}
.inline
{
    display:inline;
}
.inline-block
{
    display:inline-block;
}